.movieCard {
	width: 90%;
	height: 300px;
	margin: 30px auto;
	background-color: #c7b198;
	border: 2px solid black;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.movieCardImage {
	width: 240px;
	height: 300px;
	border: 2px solid black;
	border-radius: 5px 0 0 5px;
	margin-right: 20px;
}

.movieCardInfo {
	flex: 1;
	text-align: left;
	padding: 0 10px;
	margin-left: 20px;
}

.movieCardTitle {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #ffffff;
}

.movieCardRating {
	font-size: 22px;
	margin-bottom: 10px;
	color: #ffffff;
}

.movieCardDescription {
	font-size: 15px;
	margin-bottom: 10px;
	color: #ffffff;
}
