footer {
	background-color: #413f3f;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 50px;
}

.footer-text {
	font-size: 18px;
}
