.searchBar {
	width: 80%;
	display: flex;
	margin: 30px auto 0;
}

.searchBar input {
	flex: 1;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 15px;
}

.searchBar input:focus {
	border: 2px solid #007bff;
}

.searchBar::before {
	content: '\1F50D'; 
	font-size: 30px;
	margin-right: 10px;
}
