footer {
	background-color: #f2e9d0;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	font-weight: bold;
	border: 1px solid black;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 50px;
}

.footerText {
	font-size: 18px;
}

.linkedin {
	text-decoration: none;
	color: black;
	margin: 10px;
}
